<div class="menu-item"
     [ngClass]="{'router-link-active': isActiveRoute }">

  <span class="glyphicon {{ item.icon }}"></span>
  <span>{{ item.text.toUpperCase() }}</span>

  <span *ngIf="item.submenu && !(mouseInPopup || mouseInItem)" 
        class="glyphicon glyphicon-menu-left"></span> 
  <span *ngIf="item.submenu && (mouseInPopup || mouseInItem)" 
        class="glyphicon glyphicon-menu-down"></span> 

</div>
<fw-popup-menu
    *ngIf="mouseInPopup || mouseInItem" 
    [menu]='item.submenu'

    [style.left.px]="popupLeft"
    [style.top.px]="popupTop"
    @visibilityChanged>
</fw-popup-menu>
